
body {
    background: #000
}

#train-table {
    color:inherit;
    background-color: #f0ad4e;
    border-color: #faebcc;
}

#test {
    background-size: cover;
    background-position: center center;
    color: orange;
    position: relative;
    text-align: center;

}

#jumbo-head
{

    background-image: url('train3.jpg');
    /*background-repeat: no-repeat;*/
    padding-right: 0px;
    margin-right: 0%


}
.jumbotron{
    padding-bottom: 60px
}
#train3 {
    max-width: 100%
}

#navigation {
    margin: 0 auto 0;
    font-size: 13px;
    width: 100%;
    margin-left: Auto;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    padding: 15px;
    color: orange

}
#map, #ticket, #transportation,#cont, #sub-head{
    color: orange
}

#sub-head {
    text-align: center;
    font-style: italic
}

#test:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    text-align: center;
    font-size: 200px;
}

